<%= render 'avatar', user: @user, css_class: 'avatar' %>
<h3><%= @user.username %></h3>

<hr>
<!-- Edit Profile -->
<%= link_to 'Edit Profile', edit_user_path(@user), id: 'edit-user-link', remote: true %>
<div id="edit-user-form"></div>
