<%= image_tag 'capriole.jpeg', class: 'avatar bookmark' %>
<h3>
  Lunarleap <br>
  <small>Where will this month's leap take you?</small>
</h3>

<hr>
<% if current_user && user_signed_in? %>
  <%= link_to 'Challenges', user_challenges_path(current_user) %>
<% else %>
  Please <%= link_to 'sign in', new_user_session_path %> to view/add challenges.
<% end %>
