<div class="row">
  <div class="col-sm-2">
    <%= image_tag 'capriole.jpeg', class: 'avatar bookmark' %>
  </div>
  <div class="col-sm-6">
    <h3>
      Lunarleap <br>
      <small>Where will this month's leap take you?</small>
    </h3>

    <hr>
    <% unless current_user && user_signed_in? %>
      Please <%= link_to 'sign in', new_user_session_path %> to view/add challenges.
    <% end %>
  </div>
  <div class="col-sm-4">
    <div class="container">
      <%= render 'categories/listing', categories: Category.all %>
    </div>
  </div>
</div>
