<h4>
  <%= link_to challenge.name, user_challenge_path(challenge.user, challenge) %>
  <small>
    <%= challenge.created_at.localtime.strftime("created on %A, %m/%d/%Y at %I:%M%p") %>
  </small>
</h4>
