<!-- New Challenge -->
<% if current_user.eql?(@user) %>
  <%= link_to 'New Challenge', new_user_challenge_path(@user), id: 'new-challenge-link', remote: true %>
  <div id='new-challenge-form'></div>
  <hr>
<% end %>

<% if @user.challenges.any? %>
  <h3> <%= @user.username %>'s challenges</h3>
<% else %>
  <p>
    <%= @user.username %> doesn't have any challenges, yet!
  </p>
<% end %>

<!-- Challenges Listing -->
<%= render 'listing' %>
